name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip build-essential git python3-setuptools libffi-dev libssl-dev
          sudo apt install -y zip unzip openjdk-17-jdk python3-dev autoconf automake libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev cmake libgmp-dev libmpc-dev
          pip3 install --user --upgrade buildozer
          pip3 install --user --upgrade Cython==0.29.33

      - name: Build with Buildozer
        run: |
          export PATH=$PATH:~/.local/bin
          # السطر التالي يضمن تخطي أي طلبات إدخال يدوية أثناء البناء
          yes | buildozer android debug
